$slide-up : slide-up;
$slide-down : slide-down;
$slide-left: slide-left;
$slide-right: slide-right;


@keyframes slide-up {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(80px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-80px);
    }

    100% {
        transform: translateX(0);
    }
}