.hero {
    background: var(--color-spun-pearl);
    background-size: cover;
    height: 100vh;
    width: 100%;

    &__content-wrapper {
        // min-width: 300px;
        color: #FFFFFF;
        position: relative;
        z-index: 2;

        @media screen and (max-width:320px) {
            h1 {
                font-size: 50px;
            }
        }

        h1 {
            font-size: 64px;
            font-weight: 700;
            line-height: 56px;
        }

        p {
            font-size: 26px;
            font-weight: 400;
            line-height: 39px;

            .typed {
                border-bottom: 2px solid var(--color-curious-blue);
            }
        }
    }
}