@use '../utils' as u;

.header {
    background-color: var(--color-black-pearl);
    left: 0;
    max-width: 300px;
    overflow-y: auto;
    transition: all ease-in-out 0.5s;
    transition: all 0.5s;
    width: 100%;
    z-index: 1000;
}

.profile {
    padding: 20px;

    &__pic {
        animation-duration: 2s;
        animation-name: u.$slide-down;
        border: 8px solid var(--color-ebony-clay);
        height: 120px;
        object-fit: cover;
        width: 120px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
    }

    &__social-links {
        padding-left: 30px;
        width: 100%;
        animation: u.$pop-up 2s ease infinite, u.$slide-left 2s;
        animation-delay: calc(15s + (5s * var(--i))), 2s;

        a {
            background-color: #212431;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            font-size: 25px;
        }

    }
}

.navbar {
    height: calc(100vh - 300px);

    &__list {
        gap: 20px;
        height: 100%;
        padding-left: 50px;
        width: 100%;

        li {
            animation: u.$slide-right .8s ease-out forwards;
            animation-delay: calc(.2s * var(--i));
            font-size: 18px;
            font-weight: 400;
        }

        span {
            color: var(--color-spun-pearl);
            line-height: 22px;
        }

        span:hover {
            color: #FFFFFF;
        }

    }
}

#main {
    margin-left: 300px;
}

@media (max-width: 1199px) {
    .header {
        left: -300px;
    }

    #main {
        margin-left: 0;
    }
}