.header {
    background-color: var(--color-black-pearl);
    left: 0;
    max-width: 300px;
    overflow-y: auto;
    transition: all ease-in-out 0.5s;
    transition: all 0.5s;
    width: 100%;
    z-index: 1000;
}

.profile {
    padding: 20px;

    &__pic {
        border: 8px solid var(--color-ebony-clay);
        width: 120px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
    }

    &__social-links {
        padding-left: 30px;
        width: 100%;

        a {
            background-color: #212431;
            border-radius: 50%;
            height: 36px;
            width: 36px;
        }
    }
}

.navbar {
    &__list {
        gap: 20px;
        padding-left: 50px;
        width: 100%;

        span {
            color: var(--color-spun-pearl);
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
        }

        span:hover {
            color: #FFFFFF;
        }

    }
}

#main {
    margin-left: 300px;
}

@media (max-width: 1199px) {
    .header {
        left: -300px;
    }

    #main {
        margin-left: 0;
    }
}