@use '../utils' as u;

.skills {

    &__card {
        border-radius: 10px;
        box-shadow: var(--shadow-black);
        max-width: 300px;
        width:calc(100% - 25%);
        padding:10px;
        height: 150px;

        h3 {
            color: var(--color-matisse);
            font-family: u.$font-montserrat;
            font-weight: 800;
        }
    }

    &__card:hover {
        transform: scale(1.02);
    }
}