@use '../utils' as u;

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-shark);
    font-family: u.$font-montserrat;
    margin: 0;
    text-align: justify;
}

a {
    text-decoration: none;
}

a:hover {
    color: #37b3ed;
    text-decoration: none;
}

a.active {
    color: #020c11;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: u.$font-raleway;
    margin: 0;
}

section {
    padding: 60px 30px;
}

.section-heading {
    color: var(--color-biscay);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-heading::after {
    background: #149ddd;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    width: 50px;
}

.section-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section-bg {
    background-color: var(--bg-link-water);
}