:root {
    --color-shark: #272829;
    --color-biscay: #173b6c;
    --color-curious-blue: #149ddd;
    --color-matisse: #1f5297;
    --color-link-water: #e4edf9;
    --color-black-pearl: #040B14;
    --color-ebony-clay: #2C2F3F;
    --color-spun-pearl: #A8A9B4;
    --shadow-black: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    --bg-link-water: #f5f8fd;
}